# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:*** 

- List of popular languages frequently used for Data Science.
- Understand the basics of version control with Git and GitHub.
- Learn how to create graphs with ggplot2 in R Studio
- Explore commonly used libraries such as pandas, numpy and sckit-learn for Data Science in Python.
- Discover the features and benefits of Jupyter Notebook.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Scala
6. MATLAB
7. SAS

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- matplotlib
- ggplot2
- Seaborn
- Scikit-learn

| Data Science Tools |
|-------------------|
|   R Studio         |
|   Jupyter Notebook |
|   Spyder           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Alperen ARSLAN